table {    
    border-collapse: collapse; /* Remove espaçamento entre células */
    margin: 3rem auto;
    border: 2px #141414 outset; box-shadow: 4px 4px 3px 0.5px #141414;
}

table td {
    border-bottom: 1px solid #ddd;
    padding: 20px; /* Evita que o conteúdo fique grudado */
}

table tr:hover {
    transform: scale(1.01);
}

/* Coluna da esquerda */
.td-esquerda {
    width: 200px;
}

/* Coluna do meio */
.td-meio {
    width: 40em;
    align-items: flex-start;
}

/* Coluna da direita */
.td-direita {
    width: auto;
}

/* Imagem da música */
.music-image {
    width: 200px;
    height: 200px;
}

/* Nome da música */
.music-name {
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
}

/* Autor da música */
.music-author {
    color: #454545;
    font-family: "Roboto Mono", monospace;
}

/* Player de música */
.music-player {
    width: 20rem;
    height: 100px;
}

h1 {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    transition: 0.3s ease;
}

h1:hover {
    color: #8808b7;
  }
